p {
  font-size: 20px;

}

body{
  font-family: "Arial", "Meiryo", sans-serif;
}

.pink{
  color: rgb(255, 192, 203);
}
.blue{
  color: skyblue
}

.google-fonts {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
h1 {
  font-family: google-fonts, sans-serif;
  font-size: 2em;
  letter-spacing: 1.2em;
  border-bottom: solid 3px rgb(115, 115, 114);
  text-shadow: 1px 1px 2px gray;
}

html{
  text-align: center;
}

#basic {
  font-weight: bold;
}